/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Cairo', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

ul {
  list-style: none;
}

/* Mobile */
@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

/* Mideum screens */
@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

/* larg screens */
@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}


/* end global rules */


/* start page */
.App{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
/* end page */